.link {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.linkText {
  color: var(--color-text-secondary);
  font-size: 0.875rem;
  font-weight: 500;
  margin-right: 0.5rem;
}