/* src/components/SendMoneyPage.module.css */

.sendMoneyPage {
    background-color: #1e1e1e; /* Dark mode background */
    color: #e0e0e0; /* Light text color for dark mode */
    padding: 20px;
    border-radius: 8px;
  }
  
  .userList {
    list-style-type: none;
    padding: 0;
  }
  
  .userItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #333;
  }
  
  .userItem button {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #444;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .userItem button:hover {
    background-color: #444;
  }